body {
    font-size: 22px;
    position: relative;
}

.button {
    stroke: none;
    border: solid 1px black;
    display: inline-block;
    padding: 20px;
}

.prompt {
    color: blue;
}

.ai-result {
    color: red;
    /* display: inline-block;
    max-width: 300px; */
}
.text-container {
    max-width: 600px; 
}

.image-description-container {
    position: absolute;
    left: 80vh;
    top: 40px;
}
.image-description:hover {
    color: blue;
    cursor: pointer ;
}